.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  background-color: var(--colors-bg-big-card);
  margin-top: 50px;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  box-shadow: var(--shadow);
}
