.wrapper {
  display: grid;
  grid-template-columns: 400px auto;
  gap: 50px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}
